body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #0f0f11;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
  }

  .bigboy { 
    background-color: rgb(7, 33, 44);
    width: 60%;
    margin: auto;
  }

  h1, p {
    margin: 1em auto;
    text-align: center;
  }

  form {
    width: 70vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }

  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid rgb(14, 39, 39);
  }

  
  fieldset:last-of-type {
    border-bottom: none;
  }

  
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }
  
  input, textarea, #dropdown {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
  }

  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #0a0a23;
    border-color: white;
    min-width: 300px;
  }

  a {
    color: #dfdfe2;
  }
